<a href="https://colab.research.google.com/github/Sreelekhya28/Python/blob/master/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=15
print(a+b)
print('Haha')

25
Haha

In [ ]:
print('You are Awesome')

You are Awesome

In [ ]:
for i in range(12):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
print("Hey,I was doing just fine before i met you i think too much and thats an issue but i am okay!")
print(type("Hey"))

Hey,I was doing just fine before i met you i think too much and thats an issue but i am okay!
<class 'str'>

In [ ]:
print(3+2)
print(3-2),print(3/2)
print(3*2)
print(3%2)
print(3//2)
print(3**2)

5
1
1.5
6
1
1
9

In [ ]:
list=[1,6,2,4.4,6.4]
print(list)
print(type(list))

[1, 6, 2, 4.4, 6.4]
<class 'list'>

In [ ]:
list[-1]

6.4

In [ ]:
list

[1, 6, 2, 4.4, 6.4]

In [ ]:
list1=[3.4,5,6,26,7,'Sreelekhya',204]
list[2]=list1
print(list)

[1, 6, [3.4, 5, 6, 26, 7, 'Sreelekhya', 204], 4.4, 6.4]

In [ ]:
for i in range(len(list)):
    print(list[i])
    print(type(list[i]))

1
<class 'int'>
6
<class 'int'>
[3.4, 5, 6, 26, 7, 'Sreelekhya', 204]
<class 'list'>
4.4
<class 'float'>
6.4
<class 'float'>

In [ ]:
a='str'
b='str2'
print(a+b)

strstr2

In [ ]:
print(len(list))
print(list)
list.append(3)
list[3]=5
print(len(list))
print(list)

5
[1, 6, [3.4, 5, 6, 26, 7, 'Sreelekhya', 204], 4.4, 6.4]
6
[1, 6, [3.4, 5, 6, 26, 7, 'Sreelekhya', 204], 5, 6.4, 3]

In [ ]:
list1=[0,1,2,3,4,5,6,7,8,9,10]
print(list1[0:10:2])
print(list1[0:11:2])
print(list1)
print(list1[3:4])#it will slice the given list
print(list1[0:5])
print(list1[1:5])

print(list1[0:10:2])#:2 gives the step value of the slice
print(list1[1:10:2])

print(list1[:10:3])#takes first index as 0
print(list1[3:])#take the last index as len(list1)
print(list1[-4:])
print(list1[-4::2])
print(list1[:-1])
print(list1[:-4])
print(list1[-4:-8])
print(list1[-8:-4])

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3]
[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 3, 6, 9]
[3, 4, 5, 6, 7, 8, 9, 10]
[7, 8, 9, 10]
[7, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6]
[]
[3, 4, 5, 6]

In [1]:
p=float(input('enter principle'))
r=float(input('enter rate'))
t=float(input('time'))
ci = p * (pow((1 + r / 100), t))
print('Compound interest is',ci)
si=(p*r*t)/100
print('simple interest is',si)

enter principle2000
enter rate8
time5
Compound interest is 2938.6561536000013
simple interest is 800.0

In [2]:
inst=int(input('enter no.of instalments'))
for i in range(inst):
    si=(p*r*(t-i))/100
    print('interest needed to be paid at',i+1,'installment=',si)

enter no.of instalments5
interest needed to be paid at 1 installment= 800.0
interest needed to be paid at 2 installment= 640.0
interest needed to be paid at 3 installment= 480.0
interest needed to be paid at 4 installment= 320.0
interest needed to be paid at 5 installment= 160.0

In [5]:
n=input('enter sequence of number')
n1=int(input('Enter a number'))
m=len(n)
if(m%2!=0):
    mid=int((m+1)/2)
    print("mid is",mid)
else:
    print('given sequence is even')
    mid=0
if(str(n1)==str(n[mid-1])):
    print('validated')
else:
    print('not validated')

enter sequence of number7654321
Enter a number5
mid is 4
not validated

In [6]:
a=[0,1,2,3,4,5,6,7,8]
print(a)
def function():
    m=len(a)-1
    print(a[0],a[m])
    a.pop(m)
    a.pop(0)
    print(a)
    if(len(a)>=2):
        function()
    else:
        exit()
function()

[0, 1, 2, 3, 4, 5, 6, 7, 8]
0 8
[1, 2, 3, 4, 5, 6, 7]
1 7
[2, 3, 4, 5, 6]
2 6
[3, 4, 5]
3 5
[4]

In [1]:
n=int(input('enter no. of units'))
if(n<50):
    bill=n*0.5
elif(n>50 and n<100):
    m=n-50
    bill=50*0.5+m*0.8
elif(n>=100 and n<200):
    m=n-100
    bill=m*1.2+50*0.8+50*0.5
elif(n>=200):
    m=n-200
    bill=m*1.8+100*1.2+50*0.8+50*0.5
print('current bill=',bill)

enter no. of units1234
current bill= 2046.2

In [2]:
d=dict()
a=int(input('enter the no. of elements in dictionary'))
for i in range(1,a+1):
    d[i]=i**2
print(d)

enter the no. of elements in dictionary15
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [3]:
str="good morning"
print(str[2])

o

In [4]:
str="hello all"
print(str[:5])
print(str[::-1])

hello
lla olleh

In [5]:
str1="hello"
str2="world"
print(str1==str2)
print(str1*3)

False
hellohellohello

In [6]:
n=12
m=2.44
print("%d"%(m))
#second method
print("value of n is{0}".format(n))
print("value of mis {1}and value of n is {0}".format(m,n))

2
value of n is12
value of mis 12and value of n is 2.44

In [7]:
str="cat mini sai"
print(str.startswith("sai"))
print(str.endswith("cat"))
print(str.startswith("mini",4,8))

False
False
True

In [8]:
str="cat apple mango dog"
print(str.startswith("og",17,19))

True

In [9]:
n=type(input("enter n value"))
print(n)

enter n value"Sreelekhya!"
<class 'str'>

In [10]:
str="cat,dog,ant,deer"
name=str.split(",")
print(name)
print(type(name))
name2=str.split(",",2)
print(name2)

['cat', 'dog', 'ant', 'deer']
<class 'list'>
['cat', 'dog', 'ant,deer']

In [12]:
sep="-"
date=sep.join(("26","11","2019"))
print(type(date))
print(date)
date=sep.join(["26","11","2019"])
print(type(date))

<class 'str'>
26-11-2019
<class 'str'>

In [13]:
sep="-"
date=sep.join(("26","11","2019"))
print(type(date))
date=sep.join(["26","11","2019"])
print(type(date))

<class 'str'>
<class 'str'>

In [14]:
n=-5
if (n<0):
    print("negative")
else:
    print("positive")

negative

In [15]:
tuple1=(1,2,34,"sai",100)
print(tuple1)

(1, 2, 34, 'sai', 100)

In [16]:
print(tuple1[2])
print(tuple1[1::2])

34
(2, 'sai')

In [17]:
print(tuple1[::-1])

(100, 'sai', 34, 2, 1)

In [18]:
dic={"jan":1,"feb":2,"march":3}
print(dic)
print(dic["jan"])

{'jan': 1, 'feb': 2, 'march': 3}
1

In [19]:
dic={"jan":33,"feb":34,"may":35}
dic["march"]=33
print(dic)
dic["may"]=12
print(dic)
#deleting
del dic["march"]
print(dic)

{'jan': 33, 'feb': 34, 'may': 35, 'march': 33}
{'jan': 33, 'feb': 34, 'may': 12, 'march': 33}
{'jan': 33, 'feb': 34, 'may': 12}

In [20]:
dic={"jan":1,"feb":12,[23,11,23]:33}# keys are immutable 
print(dic)

TypeError: ignored

In [21]:
dic={"jan":2,"jan":33,"feb":2}# keys are unique
print(dic["jan"])
print(dic)
print(len(dic))
print(dic.get("jan",None))
print(dic.get("jan",33))
print(dic.get("may",None))#no such key
print(dic.get("feb",22))
print(dic)

33
{'jan': 33, 'feb': 2}
2
33
33
None
2
{'jan': 33, 'feb': 2}

In [22]:
dic={"jan":2,"feb":22,"march":44}
print(dic.items())
print(type(dic.items()))
print(list(dic.items()))
print(type(list(dic.items())))

dict_items([('jan', 2), ('feb', 22), ('march', 44)])
<class 'dict_items'>
[('jan', 2), ('feb', 22), ('march', 44)]
<class 'list'>

In [23]:
print(dic.keys())
print(type(dic.keys()))
print(list(dic.keys()))
print(type(list(dic.keys())))
print(list(dic.values()))

dict_keys(['jan', 'feb', 'march'])
<class 'dict_keys'>
['jan', 'feb', 'march']
<class 'list'>
[2, 22, 44]

In [24]:
print(list(range(10)))
a=list(range(10))
print(a)
print(list(range(2,10,3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 5, 8]

In [25]:
for n in list(range(1,11)):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [26]:
print("pratyusha","mini",sep="#",end="@")
print('Me')

pratyusha#mini@Me

In [27]:
list1=[1,2,3,"mini"]
for n in list1:
    print(n,end=" ")

1 2 3 mini

In [28]:
for n in (range(1,11)):
    if(n%2!=0):
        print("***", n ,"***")
    else:
        print("   ",n)

*** 1 ***
    2
*** 3 ***
    4
*** 5 ***
    6
*** 7 ***
    8
*** 9 ***
    10

In [29]:
list1=[1 ,2,3,4,5 ]
while(len(list1)>0):
    print(list1)
    del list1[-1]

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]

In [30]:
n=5
add=0
while(n>0):
    add+=n
    n-=1
print(add)

15

In [31]:
s=dict()
s[1]=3
s[8]=5
print(s)

{1: 3, 8: 5}